menuconfig COMMON_CLK_RTK
    bool "Clock driver for realtek"
    depends on ARCH_RTD129X
    default y

config COMMON_CLK_RTD129X
    bool "Clock driver for RTD129X"
    depends on COMMON_CLK_RTK
    default y

config COMMON_CLK_RTD129X_DEBUGFS
    bool "DebugFs for RTD129X clock driver"
    depends on DEBUG_FS && COMMON_CLK_RTD129X

